/* font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaeaea;
}
.center {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
  position: relative;
}
.navigation {
  display: flex;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0;
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 40px 0;
}
.navigation > li {
  padding-left: 23px;
  margin-left: 23px;
  position: relative;
}
.navigation > li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.navigation > li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #494949;
}
/* .navigation > li:first-child::before {
  display: none;
} */

.navigation > li > a {
  text-decoration: none;
  color: #494949;
}

.baner {
  background: url(../img/banerBg.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 260px;
  padding-bottom: 285px;
  position: relative;
}

.pizza {
  position: absolute;
  right: 0;
  top: -230px;
}
.title {
  font-size: 50px;
  margin-bottom: 23px;
}
.description {
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 23px;
}

.btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  border: 2px solid #fff;
  padding: 16px 0;
  display: block;
  max-width: 190px;
  text-align: center;
}

.titleSection {
  font-size: 45px;
  color: #282828;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0 130px;
  margin-bottom: 20px;
}
.titleSection::before,
.titleSection::after {
  content: "";
  position: absolute;
  background: url(../img/serf.png);
  display: block;
  width: 102px;
  height: 28px;
  transform: translateY(50%);
}
.titleSection::before {
  left: 0;
}
.titleSection::after {
  top: 0;
  right: 0;
}
.titleSection + p {
  font-size: 20px;
  color: #959595;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
}
.menu > li {
  position: relative;
  padding: 0 20px;
}

.menu > li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #494949;
}
.menu > li > a {
  text-decoration: none;
  color: #494848;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.menu > li > a.active {
  border-bottom: 4px solid #ee252d;
  position: relative;
}
.menu > li > a.active:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #ee252d;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.progress {
  padding: 120px 0 90px 0;
}
.box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  margin-top: 60px;
  margin-bottom: 100px;

  /*   position: relative; */
}
.box-item {
  padding: 64px 0 58px 55px;
}
.box-item:last-child .box-text {
  border-right: none;
}
.number {
  font-family: "Roboto", sans-serif;
  font-size: 120px;
  font-weight: 900;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  color: #282828;
}
.number::after {
  content: "";
  display: block;
  position: absolute;

  /*   right: 0;
  bottom: 0; */
}
.number-one::after {
  background-image: url(../img/layer1.png);
  width: 126px;
  height: 71px;
  left: 69px;
  top: calc(50% - 35px);
}
.number-two::after {
  background-image: url(../img/layer2.png);
  width: 184px;
  height: 81px;
  left: 88px;
  top: calc(50% - 40px);
}
.number-three::after {
  background-image: url(../img/layer3.png);
  width: 142px;
  height: 68px;
  left: 94px;
  top: calc(50% - 34px);
}
/* .box-text {
  padding: 0 0 0 55px;
} */

.box-text > h3 {
  font-size: 45px;
  color: #282828;
  margin-bottom: 23px;
}

.box-text > p {
  margin-bottom: 0;
}

.btn-start {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  background-image: url(/img/btn-start.png);
  background-position: center center;
  text-decoration: none;
  padding: 29px 66px;
  background-repeat: no-repeat;
}
footer {
  font-family: "Roboto", sans-serif;
  background-image: url(/img/footerBg.png);
  color: #fff;
  padding: 30px 0;
  text-transform: uppercase;
  font: 20px;
  text-align: center;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 800px;
  }
  .pizza {
    display: none;
  }
  .baner {
    padding-top: 76px;
    padding-bottom: 100px;
  }
  .titleSection {
    font-size: 35px;
  }
  .progress {
    padding: 60px 0 81px 0;
  }
  .menu > li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .box {
    flex-direction: column;
  }
  .box-text {
    border-bottom: 1px solid #eaeaea;
  }
  .box-item {
    text-align: center;
    padding: 45px 55px 24px 55px;
  }
}
@media (max-width: 800px) {
  .navigation-wrapper {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 20px;
  }
}
